<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <script defer src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script defer src="/js/beehive.js"></script>
  </head>

  <body>
    <%- `
    <script>
      const SENSORS_INFO = ${JSON.stringify(SENSORS_INFO)};
      const beehiveIndex = ${JSON.stringify(beehiveIndex)};
      const beehiveData = ${JSON.stringify(beehiveData)};
    </script>
    ` %>
    <%- include('partials/navbar.ejs') %>

    <div id="content" class="container beehive z-depth-3">
      <h3 class="deep-orange-text text-darken-2">Beehive # <%= beehiveId %></h3>
      <p class="last-update">Last update: <%= Object.values(beehiveData)[0].dateTime %></p>
      <hr />
      <div id="chart"></div>
      <hr />
      <div class="row">
        <% Object.values(beehiveData).forEach(dataEntry => { %>
          <%- include('partials/beehiveDataEntry.ejs', {entry: dataEntry}) %>
        <% }); %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
