<div class="col s12 m6 l4">
  <div class="card z-depth-3 hoverable">
    <div class="card-image">
      <img
        class="lazy materialboxed"
        data-caption="<%= entry.dateTime %> weight: <%= entry.sensors.weight %> | light: <%= entry.sensors.light %> | temperature: <%= entry.sensors.temp %> | noise: <%= entry.sensors.noise %> | humidity: <%= entry.sensors.hum %> | co: <%= entry.sensors.co %> | no2: <%= entry.sensors.no2 %>"
        data-original="<%= entry.imageLink || 'http://placehold.it/800x533/000000/444444?text=No+Light' %>"
        src="http://placehold.it/800x533/000000/e2001a?text=Loading"
      />
      <span class="card-title"><%= entry.dateTime %></span>
    </div>
    <div class="card-content red-text text-lighten-2">
      <p class="grey-text text-darken-2">
        weight: <%= entry.sensors.weight %><br />
        light: <%= entry.sensors.light %><br />
        temperature: <%= entry.sensors.temp %><br />
        noise: <%= entry.sensors.noise %><br />
        humidity: <%= entry.sensors.hum %><br />
        co: <%= entry.sensors.co %><br />
        no2: <%= entry.sensors.no2 %>
      </p>
    </div>
  </div>
</div>
